


body{
    font-family: "Open Sans", sans-serif;
}

:root{
    --primary-color:#262B3E;
    --secondary-color:#1C202E;
    --main-color:#C9B38C;
    --main-second:white;
    --button-hover:#c2b59e;
}

nav{
    background-color: var(--primary-color);
}

.loc{
    height: 20px;
    width: 0px;
    background-color: var(--primary-color);
}

.navbar_top{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
    background-color:var(--primary-color);
}

.navbar_top>h1{
    color:var(--main-second);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.navbar_top>h1>span{
    color: var(--main-color);
}

.sec{
    padding-right: 18px;
}

.nav_bottom{
    height: 70px;
    width: 90%;
    display: flex;
    gap: 150px;
    background-color:var(--secondary-color);
}

.navbar_logo{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-color);
    font-weight: bolder;
    font-size: 15px;
}

.icon_one{
    font-size: 2rem;
    color: #262B3E;
    padding-right: 3px;
}

.navbar_logo>h1{
    background-color: var(--main-color);
    color: var(--primary-color);
    text-align: center;
}

.conatiner{
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 95px;
}

.navbar_menu{
    height: 100%;
    width:75%;
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
    color:var(--main-second);
    font-size: 14px;
    font-weight: 100;
    padding-right: 20px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.navbar_item{
    background-color: var(--secondary-color);
}

.navbar_item:hover{
    color:var(--main-color);
}

.hero{
    height: 500px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 140px 0 100px;
    gap: 40px;
}
.hero_content{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero_title{
    color: var(--main-color);
    font-size: 90px;
    font-weight: 700;
    line-height: 1.1;
}

.hero_subtitle{
    width: fit-content;
    padding: 20px 35px;
    font-size: 20px;
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.hero_image{
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.hero_image>img{
    width: 450px;
    height: 400px;
    object-fit: cover;
}



.about{
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color:var(--primary-color);
    padding-top: 0px;
    padding-right: 60px;
    padding-left: 20px;
    /* padding-bottom: 40px; */
}

.about_card{
    height: 200px;
    width: 350px;
    background-color:var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon{
    font-size: 3rem;
    color: var(--main-color);
}

.about_number{
    color: var(--main-second);
    font-size: 50px;
    font-weight: 700;
}

.about_title{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 100;
}



.fluid{
    min-height: 700px;
    width: 100%;
    display: flex;
    background-color: var(--main-second);
}
.fluid_image>img{
    width: 550px;
    height: 540px;
}
.fluid_image{
    width: 50%;
    /* background-color: red; */
    padding-top: 50px;
    padding-left: 105px;
}
.fluid_text{
    width: 50%;
    padding-top: 50px;
    padding-left: 40px;
    /* padding-right: 90px; */
    /* background-color: aqua; */
}
.fluid_text>h3{
    color: var(--main-color);
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.square{
    padding-right: 10px;
}
.fluid_title{
    width: 80%;
    font-weight: 800;
    color: var(--secondary-color);
    font-size: 42px;
    line-height: 1.2;  
}
.fluid_lorem{
    width: 80%;
    padding-top: 30px;
    color: var(--primary-color);
}
.lorem_two{
    padding-top: 15px;
}
.fluid_subtitle{
    padding-top: 20px;
    color: var(--secondary-color);
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.8rem;
}
.fluid_list{
    display: flex;
    width: 90%;
    gap: 50px;
    padding-top: 30px;
    /* padding-left: 20px; */
    font-size: 1rem;
    text-align: start;
    font-weight: 400;
    line-height: 1.5;
}
.list_order{
    width: 40%;
    gap: 20px;
}
.fluid_li{
    width: 90%;
    border-bottom: 1px solid var(--primary-color) ;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.fluid_li{
    padding-top: 10px;
}
.li_border2 {
    border: none;
}
.li_border{
    border: none;
}
.fluid_ul{
    list-style-type: none;
}
.check{
    color: var(--main-color);
    padding-right: 6px;
}
/* ul li::marker {
  content: "✓ "; 
  color: var(--main-color); 
  font-size: 1.2em; 
} */
.fluid_button{
    padding-top: 10px;
}
.fluid_button>button{
    width: 150px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.5;
}
.fluid_button>button:hover{
    background-color: var(--button-hover);
}

@media screen and (max-width: 1280px){
    .navbar_menu{
        gap: 20px;
        font-size: smaller;
    }

    .nav_bottom{
        gap:20px;
    }

    .navbar_logo{
        font-size: 13px;
    }

    .hero{
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 120px;
    }

    .hero_title{
        font-size: 60px;
        font-weight: 400;
    }

    .hero_image>img{
        width: 300px;
        height: 350px;
    }

    .hero_subtitle{
        font-size: 15px;
    }

    .about{
        gap: 50px;
        padding-left: 80px;
        padding-right: 120px;
    }
    .about_card{
        width: 300px;
    }
    .fluid{
        /* padding-left: 80px; */
        padding-right: 100px;
        gap: 40px;
        justify-content: flex-start;
    }
    .fluid_list{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    }   

    .fluid_image>img{
        width: 300px;
        height: 540px;
    }
    .fluid_text{
        width: 60%;
    }
}

@media screen and (max-width:933px){
    .navbar_top{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .icon_one{
        font-size: 1.2rem;
    }

    .navbar_logo{
        font-size: 15px;
    }

    .nav_bottom{
        gap:10px;
    }

    .navbar_menu{
        gap: 20px;
        font-size: 10px;
    }

    .hero{
        padding-top: 50px;
        padding-left: 90px;
        padding-right: 100px;
    }

    .hero_title{
        font-size: 50px;
    }

    .hero_subtitle{
        font-size: 14px;
        padding: 15px 25px;
    }
    .about{
        padding-left: 90px;
    }
    .fluid{
        flex-direction: column;
        padding-right: 120px;
        /* padding-left: 70px; */
        gap: 10px;
    }
    .fluid_image{
        width: 100%;
        padding-left: 90px;
    }
    .fluid_image>img{
        width: 100%;
    }
    .fluid_text{
        width: 100%;
        padding-left: 90px;
    }
    .fluid_lorem{
        width: 100%;
    }
}

@media screen and (max-width:888px) {
    .nav_bottom{
        height: 300px;
        flex-direction: column;
        align-items: start;
    }

    .navbar_logo{
        height: 100px;
        font-size: 13px;
    }

    .navbar_menu{
        flex-direction: column;
        gap: 10px;
        justify-content: start;
        align-items: start;
        padding-left: 10px;
        padding-top: 10px;
    }

    .hero{
        padding-top: 10px;
        padding-right: 90px;
        padding-left: 90px;
        gap: 25px;
    }

    .hero_title{
        font-size: 45px;
        font-weight: 100;
    }

    .hero_image>img{
        width: 280px;
        height: 300px;
    }
}

@media screen and (max-width:785px) {
    .navbar_logo{
        height: 100px;
        font-size: 8px;
    }

    .icon_one{
        font-size: 0.8rem;
    }

    .navbar_menu{
       justify-content: start;
       height: 200px; 
    }

    .hero{
        height: 650px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0px 70px;
    }

    .hero_content{
        justify-content: start;
        width: 100%;
        align-items: center;
        gap: 35px;
    }

    .hero_title{
        font-size: 45px;
        font-weight: 200;
        text-align: center;
    }
    .hero_span{
        color: var(--main-second);
    }

    .hero_image>img{
        width: 400px;
        height: 300px;
    }

    .about{
        display: none;
    }
    .fluid_title{
        width: 100%;
        font-size: 33px;
        line-height: 1.1;
    }
    .lorem_two{
    padding-bottom: 15px;
    }

    .fluid_list{
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3;
    }
}

@media screen and (max-width:618px) {
    .navbar_logo{
        width: 140px;
        height: 80px;
        font-size:8px;
    }
    .hero{
        justify-content: start;
        height: 480px;
        padding: 20px 70px;
    }

    .hero_title{
        font-size:33px;
        font-weight: 100;
    }

    .hero_subtitle{
        font-size: 10px;
        padding: 12px 20px;
    }

    .hero_image>img{
        width: 300px;
        height: 250px;
    }

    .hero_content{
        gap: 20px;
    }
    .fluid{
        /* padding-left: 50px; */
        padding-right: 80px;
    }
    .fluid_title{
        width: 100%;
        font-size: 20px;
        line-height: 1;
    }
    .li_border{
        border-bottom: 1px solid var(--primary-color);
        /* padding-right: 20px; */
    }
    .fluid_list{
        flex-direction: column;
        gap: 1px;
    }

    .list_order{
        width: 100%;
    }
}

@media screen and (max-width:466px) {
    .navbar_logo{
        width: 200px;
        height: 80px;
        font-size: 8px;
    }

    .conatiner{
        padding-left: 20px;
        padding-right: 0px;
    }

    .navbar_top>h1{
        font-size: small;
    }

    .nav_bottom{
        height: 60px;
    }

    .navbar_menu{
        display: none;
    }

    .hero{
        justify-content: start;
        height: 500px;
        padding: 30px 40px;
    }

    .hero_content{
        width: 100%;
        gap: 25px;
    }

    .hero_title{
        font-size: 35px;
    }

    .hero_subtitle{
        font-size: 10px;
        padding: 12px 15px;
    }

    .hero_image>img{
        width: 220px;
        height: 250px;
    }

    .fluid{
        height: auto;
        width: 100%;
        /* padding-left: 25px; */
        padding-right: 40px;
        justify-content: start;
    }

    .fluid_text{
        width: 100%;
        padding-left: 29px;
    }
    .fluid_image{
        padding-left: 20px;
    }

    .fluid_lorem{
        width: 100%;
    }
}